<p>Hello <b><%= "#{@resource.last_name}, #{@resource.first_name}" %></b></p>
<p>You have been selected as Real Estate Super Administrator.</p>
<p>To complete the registration process, please proceed to set your personal password through the following link.</p>
<%= link_to 'Set my password', edit_password_url(@resource, reset_password_token: @token, redirect_url: message['redirect-url'].to_s) %>
<p>Your password won't change until you access the link above and create a new one.</p>


